body {
  color: #2e3030;
  font-family: 'Noto Sans JP', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Instrument Sans', sans-serif;
}
main {
  padding-top: 40px;
}
.article {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
}

.article-title {
  font-size: 28px;
  margin: 20px 0;
}

.article-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px 0;
}

.article-body {
  line-height: 1.8;
  font-size: 16px;
}

.article-link {
  display: inline-block;
  margin-top: 20px;
}
.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;

  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
  color: #626466;
  // opacity: 0.5;
  background: rgba(255, 255, 255, 0.8);

  padding: 8px 10px;
  border-radius: 4px;

  transition: 0.2s;
  &:hover {
    opacity: 1;
  }
}
.article-meta {
  margin-top: 20px;

  font-family: 'Roboto Mono', sans-serif;
  color: #626466;
}
.article-link {
  font-family: 'Roboto Mono', sans-serif;
  color: #626466;
}
