.coverflow {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  perspective: 800px;
  overflow: hidden;
}

.coverflow__item {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 220px;
  height: 220px;
  margin: -110px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.info-below {
  text-align: center;
}

.coverflow__item img,
.coverflow__item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.coverflow-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.coverflow-ui {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
.album-title {
  min-width: 150px;
  text-align: center;
  font-family: 'Roboto Mono', sans-serif;
  color: #626466;
  font-size: 24px;
}
.album-title .tools {
  margin-left: 8px;
  font-size: 0.85rem;
  opacity: 0.7;
}
.album-title a {
  display: block;
  font-size: 18px;
}
.coverflow__btn {
  position: static;
  top: 50%;
  font-size: 21px;
  font-family: 'Instrument Sans';
  transform: none;
  background: unset;
  border-radius: 4px;
  border: solid 2px #626466;
  padding: 10px 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  .icon {
    width: 1rem;
    height: 1rem;
  }
}
.coverflow__btn--prev {
  left: -60px;
}
.coverflow__btn--next {
  right: -60px;
}

@media (min-width: 768px) {
  .coverflow-wrapper {
    width: 70%;
  }
  .album-title {
    font-size: 22px;
  }
  .coverflow {
    height: 400px;
  }
}
