/*==================
 privacy.html
==================*/

h1,
h2,
h3,
h4,
p {
  margin: unset;
}
a {
  display: block;
}

body {
  background: #edebe0;
  margin: 0;
  font-family: 'Hiragino Kaku Gothic ProN';
}
main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  line-height: 1.8;
}
img {
  width: 100%;
  height: auto;
}

/* ==================
 main
=================== */

.updates-info-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.updates-info-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}
.update-info-item a {
  height: 100%;
}
.updates-info-item img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.updates-title,
.updates-desc {
  padding: 7px;
}
.updates-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;

  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
  color: #626466;
  background: rgba(255, 255, 255, 0.8);

  padding: 8px 10px;
  border-radius: 4px;

  transition: 0.2s;
  &:hover {
    opacity: 1;
  }
}
/* ----------------------------
 記事が多くなった時のtopに戻るボタン
 ---------------------------- */
// .top-button {
//   position: fixed;
//   bottom: 20px;
//   right: 20px;

//   font-size: 14px;
//   font-weight: 700;
//   font-family: 'Roboto Mono', sans-serif;
//   color: #626466;
//   background: rgba(255, 255, 255, 0.8);

//   padding: 8px 25px;
//   border-radius: 4px;

//   transition: 0.2s;
//   &:hover {
//     opacity: 1;
//   }
// }

/* ==================
 footer
=================== */
.footer-section {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}
.footer-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  a {
    font-size: 12px;
  }
  small {
    font-size: 10px;
  }
}
@media (min-width: 768px) {
  .updates-info-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-inner a {
    font-size: 16px;
  }
  .footer-inner small {
    font-size: 13px;
  }
}
